<ul class="Must-hav's">
  <li class="list-group-item">Moisturiser</li>
  <li class="list-group-item">Primer</li>
  <li class="list-group-item">Concealer</li>
  <li class="list-group-item">Foundation</li>
  <li class="list-group-item">Eyebrow pomade</li>
  <li class="list-group-item">Eyeliner</li>
  <li class="list-group-item">Mascara</li>
  <li class="list-group-item">Nude lipstick</li>
  <li class="list-group-item">Red lipstick</li>
  <li class="list-group-item">Blush</li>
  <li class="list-group-item">Highlighter</li>
  <li class="list-group-item">Eyeshadow palette</li>
  <li class="list-group-item">Q-tips</li>
  <li class="list-group-item">Make-up wipes</li>
  <li class="list-group-item">Tweezers</li>
  <li class="list-group-item">Eyelash curler</li>
  <li class="list-group-item">Spoolie brush</li>
  <li class="list-group-item">Powder brush</li>
  <li class="list-group-item">Blush brush</li>
  <li class="list-group-item">Eyeshadow brush</li>
  <li class="list-group-item">Crease brush</li>

</ul>


<div class="section">
  <h1 class="title"><%= list.name %></h1>
  <h2 class="subtitle">By <%= list.createdBy.username %></h2>
  <% if(locals.isLoggedIn && list.belongsTo === locals.user.id) { %>
    <form method="POST" action="/lists/<%= list.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class="button is-small">Delete list</button>
    </form>
  <% } %>


<div class="section">
  <h1 class="title">New list</h1>
  <div class="columns">
    <div class="column is-one-quarter">
      <form method="POST" action="/lists">
        <div class="form-group">
        <select class="name" id="name"  name="name" required>
  <option selected>Name your list</option>
  <option value="1">I already have</option>
  <option value="2">I want to buy</option>
</select>
