<% if(locals.message) { %>
  <div class="alert alert-primary" role="alert">
    <%= message %>
  </div>
<% } %>


<div class="container">
  <h1 class="title text-center">Register</h1>
  <form method="POST" action="/register">
    <div class="row">
      <div class="col-3 col-centered">
        <div class="form-group">
          <label for="exampleInputUsername">Username</label>
          <input type="username" class="form-control" name="username" id="username">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-centered">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-centered">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-centered">
        <div class="form-group">
          <label for="passwordConfirmation">Password confirmation</label>
          <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation">
        </div>
        <button type="submit" class="btn btn-default btn-block">Submit</button>
      </div>
    </div>
  </form>
</div>
