<% if(locals.message) { %>
  <div class="alert alert-primary" role="alert">
    <%= message %>
  </div>
<% } %>


<div class="container">
  <h1 class="title">Register</h1>
  <form method="POST" action="/register">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="exampleInputUsername">Username</label>
          <input type="username" class="form-control" id="exampleInputUser">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="exampleInputPasswordControl">Password confirmation</label>
          <input type="password" class="form-control" id="exampleInputPasswordControl">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
