<% if(locals.message) { %>
  <div class="alert alert-primary" role="alert">
    <%= message %>
  </div>
<% } %>
<div class="section">
  <h1 class="title">Register</h1>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="offset-md-1">
          <h1 class="display-4">Makeup starterkit</h1>
          <p class="lead">Sign up to see photos of trains from your friends</p>
        </div>
      </div>
    </div>
  </div>
<div class="columns">
  <div class="column is-one-quarter">
    <form method="POST" action="/register">
      <div class="field">
            <label class="label" for="username">Username</label>
            <div class="control">
              <input class="input" type="text" name="username" id="username" required>
            </div>
          </div>
          <div class="field">
            <label class="label" for="email">Email</label>
            <div class="control">
              <input class="input" type="email" name="email" id="email" required>
            </div>
          </div>
          <div class="field">
            <label class="label" for="password">Password</label>
            <div class="control">
              <input class="input" type="password" name="password" id="password" required>
            </div>
          </div>
          <div class="field">
            <label class="label" for="passwordConfirmation">Password Confirmation</label>
            <div class="control">
              <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation" required>
            </div>
          </div>
          <button class="button is-link">Register</button>
</form>
</div>
</div>
</div>
