<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Makeup starter kit</title>
    <% include ./partials/_stylesheets.ejs %>
<% include ./partials/_scripts.ejs %>
  </head>
  <body>
    <% include ./partials/_navbar %>
    <%- body %>
  </body>
</html>
