<div class="overlay">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h2>500: Internal Server Error</h2>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
          <h3><%= err.message %></h3>
          <% if(locals.err.stack) { %>
          <pre>
            <%= err.stack %>
          </pre>
          <% } %>
        </div>
    </div>
  </div>
</div>
