<div class="overlay">
  <nav class="navbar justify-content-end" role="navigation" aria-label="main navigation">
      <div class="expand navbar-expand">
        <ul class="navbar-nav">

          <% if(locals.isLoggedIn) { %>
            <li class="nav-item">
              <a href="/lists" class="nav-link">Lists</a>
            </li>

            <li class="nav-item">
              <a href="/logout" class="nav-link">Logout</a>
            </li>

          <% } else { %>

            <li class="nav-item">
              <a href="/register" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link">Login</a>
            </li>
          <% } %>
        </ul>
      </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">Makeup</h1>
        <h1 class="title">starter kit</h1>
      </div>
    </div>
  </div>
</div>
