<% if(locals.message) { %>
  <div class="alert alert-primary" role="alert">
    <%= message %>
  </div>
<% } %>


<div class="container">
  <h1 class="title">Log in</h1>
    <form method="POST" action="/login">
      <div class="row">
        <div class="col-3 col-centered">
          <div class="form-group">
            <label for="exampleEmail">Email</label>
            <input type="email" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-centered">
          <div class="form-group">
            <label for="examplePassword" for="password">Password</label>
            <input type="password" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-centered">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

</form>
</div>
