<% if(locals.message) { %>
  <div class="alert alert-primary" role="alert">
    <%= message %>
  </div>
<% } %>

<div class="section">
  <h1 class="title">Log in</h1>

<form method="POST" action="/login">
  <div class="form-group">
      <label class="label" for="email">Email</label>
      <div class="control">
        <input class="input" type="text" name="email" id="email" required>
      </div>
    </div>
    <div class="field">
      <label class="label" for="password">Password</label>
      <div class="control">
        <input class="input" type="password" name="password" id="password" required>
      </div>
    </div>
    <button class="button is-link">Login</button>
</form>

</div>
