<% if(locals.message) { %>
  <div class="alert alert-primary" role="alert">
    <%= message %>
  </div>
<% } %>


<div class="container">
  <h1 class="title text-center">Log in</h1>
    <form method="POST" action="/login">
      <div class="row">
        <div class="col-3 col-centered">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-centered">
          <div class="form-group">
            <label for="password" for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-default btn-block">Log in</button>
        </div>
      </div>

    </form>
</div>
