.overlay {
  opacity: 1;
  background-color: $primary-color;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  font: 100% $font-stack;
  color: #FB0D18;

  h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    color: #FB0D18;
  }

  p {
  font: 100% $font-stack;
    color:  #FB0D18;
    font-size: 20px;

  }
}
