.overlay {
  opacity: 1;
  background-color: $primary-color;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  font: 100% $font-stack;
  color: #FB0D18;
  margin: 0 auto;
  text-align: right;
  font-size: 15px;

  a {
    font: 100% $font-stack;
    color: white;
    font-size: 15px;
    text-decoration: none;


        // & .negative-margin {
        //   margin-left: -50px;
        // }
  }

  h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 150px;
    color: #FB0D18;
    width: 100%,auto;
    height:100%,auto;
    margin: 0 auto;
    text-align: right;
    justify-content: center;
  }
}
