// import scss partials here
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  font-family: 'Helvetica', sans-serif;
}

.jumbotron {
  background-color: #87DAFB;
  background-position: center;
  background-size: cover;
  color: #FB0D18;
  font-family: 'Montserrat', sans-serif;
}
