// import scss partials here
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  font-family: 'Helvetica', sans-serif;
}

.jumbotron {
  background-color: #87DAFB;
  background-position: center;
  background-size: cover;
  color: #FB0D18;
  font-family: 'Montserrat', sans-serif;
}

.overlay{
    opacity: 1;
    background-color: #87DAFB;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    font-family: 'Montserrat', sans-serif;
    color: #FB0D18;
}

.indexFont{
      color: #FB0D18;
}
