// import scss partials here
@import "variables";
@import "listIndex";
@import "listShow";
@import "registrations";
@import "sessions";
@import "index";
@import "404";
@import "500";

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// div {
//   &.something {
//     text-align: center;
//   }
// }

// .test1 {
//   background-color: pink;
//   &.something {
//     color: tomato;
//   }
//
//   .something {
//     color: tomato;
//   }
// }




body {
  font: 100% $font-stack;
}
nav {
  background-color: $primary-color;

//   ul li:not(:last-child) {
//     border-right:1px solid grey;
//     margin-right:20px;
//     padding-right:20px;
// }
  & a {
    color: white;
  }
}


.jumbotron {
  background-color: $primary-color;
  background-position: center;
  background-size: cover;
  color: #FB0D18;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}
